*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

body{
    background-color: thistle;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 80%;
    max-width: 600px;
    margin: 40px auto;
}
.slider{
    display: flex;
    justify-content: center;
    /* align-self: center; */

    width: 100%;
    height: auto;
    overflow: hidden;
    /* margin: 0 auto; */
    
}
/* .slide::after{
    content: "amdlkasdm";
    margin-bottom: -20px;
    width: 100px;
} */
.slider-content{
    /* overflow-x: scroll; */
  
    /* max-width: 600px; */
    display: flex;
    overflow: hidden;
    gap: 30px;
    /* display: flex;
    scroll-snap-type: x mandatory; */
    scroll-behavior: smooth;
}
.slide{
    /* max-width: 600px; */
    object-fit: scale-down;
   
    /* max-height: 500px; */
}
img{
    border-radius: 50px;
    
}
.slide-image{
    width: 100%;
}
figcaption{
    margin-top: 30px;
}
.pagination-container{
   display: flex;
   justify-content: space-between;
   align-items: center;
   
}
.pagination{
    width: 50%;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -40px;
    
}

a::before{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: yellowgreen;
    margin-right: 20px;
}

/* .pagination::before{
    margin-left: -300px;
    content: "";
    width: 300px;
    background-color: white;
} */